# Yay, a proper gitignore so things won't clutter the repo!
# Magic Scraper Stuff
MTGArticles/*
MTGArticles

# push20 stuff
.push20

# wikiGraph stuff
wikiGraphs/*
wikiGraphs
wikiGraph_cache.sqlite

*.pyc
*.stackdump
